@media (max-width: 425px){

    .header{
        padding-top: 147px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        background-image: url(img/mobile_star.png),url(img/header_stars_1.png),url(img/header_stars_2.png);
        background-position:
        top -100px right -100px,
        top 64px left 37px,
        bottom 28px right 34px;
        background-size: auto, 80px, 80px;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 131px;
        }

        &__title{
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        &__desc{
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }

        &__btn {
            width: 285px;
            height: 55px;
            font-size: 16px;

        }
    }

    .stripe {
        height: 51px;
        padding-left: 27px;
        padding-right: 27px;
        gap: 27px;

        &__p{
            font-size: 16px;
        }

        & svg {
            min-width: 19px;
            min-height: 19px;
        }
    }

    .catalog {
        padding-top: 48px;

        &__title{
            font-size: 40px;
            line-height: 49px;
            padding-bottom: 48px;
        }

        &__desc {
            display: none;
        }

        &__games {
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            align-items: end;
            gap: 24px 16px; 
        }

        &__game{
            width: 100%;
        }

        &__game:hover{
        cursor: pointer;
        transform: scale(1.05);
        }

        &__game_top-line{
        margin-top: 0;        
        }
        &__game_bottom-line{
            margin-bottom: 0;        
        }
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
}