* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  position: relative;
  padding-top: 196px;
  background-color: #E1FF8F;
  background-image: url(img/header_star_xl.png), url(img/header_stars_1.png), url(img/header_stars_2.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top -380px right -480px, top 69px left 63px, bottom 59px right 200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.header__content {
  grid-column: span 8;
  padding-bottom: 156px;
}
.header__title {
  color: gb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-bottom: 24px;
}
.header__desc {
  padding-bottom: 48px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header__btn {
  text-decoration: none;
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  transition: 0.3s;
}
.header__btn:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.stripe {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  height: 90px;
  background: rgb(188, 236, 48);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.stripe__p {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  white-space: nowrap;
}

.catalog {
  background: rgb(32, 32, 39);
  background-image: url(img/catalog_star_xl.png), url(img/catalog_stars.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 180px right -80px, top 60% left 63px;
  padding-top: 184px;
  padding-bottom: 96px;
}
.catalog__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.catalog__desc {
  padding-bottom: 72px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.catalog__games {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: end;
  gap: 0px 32px;
}
.catalog__game {
  width: 378px;
  display: flex;
  grid-column: span 4;
  flex-direction: column;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  transition: transform 0.3s, background 0.3s;
}
.catalog__game__desc {
  padding: 32px;
  padding-bottom: 36px;
}
.catalog__game__desc__number {
  display: flex;
  justify-content: center;
  padding: 8px 16px 10px 16px;
  width: 108px;
  margin-bottom: 16px;
  align-items: center;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.catalog__game__desc__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.catalog__game:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.catalog__game_top-line {
  margin-top: 32px;
}
.catalog__game_bottom-line {
  margin-bottom: 39px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}/*# sourceMappingURL=index_style.css.map */